# You will need to use the following commands to generate a self-signed SSL:
# openssl genrsa -out tech-project-key.perm 2048
# openssl req -new -x509 -sha256 -key tech-project-key.pem -out tech-project.pem -days 365

# When prompted with questions, simply press enter to use the default for each question